.menu {
  background-color: #000000ed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  transform-origin: top;
}

.menu__icon {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu__list a {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
  text-decoration: none;
}
