.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}

.navbar__icon {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.logo {
  font-size: 20px;
  line-height: 1;
  margin: 0;
  text-decoration: none;
}

.logo > a {
  text-decoration: none;
  color: black;
}
